<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NetBanking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerAddServe</display-name>
    <servlet-name>CustomerAddServe</servlet-name>
    <servlet-class>master.servelet.CustomerAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAddServe</servlet-name>
    <url-pattern>/CustomerAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customerdelete</display-name>
    <servlet-name>Customerdelete</servlet-name>
    <servlet-class>master.servelet.Customerdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customerdelete</servlet-name>
    <url-pattern>/Customerdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customerupdate</display-name>
    <servlet-name>Customerupdate</servlet-name>
    <servlet-class>master.servelet.Customerupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customerupdate</servlet-name>
    <url-pattern>/Customerupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountAdserve</display-name>
    <servlet-name>AccountAdserve</servlet-name>
    <servlet-class>master.servelet.AccountAdserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountAdserve</servlet-name>
    <url-pattern>/AccountAdserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransfer</display-name>
    <servlet-name>FundTransfer</servlet-name>
    <servlet-class>master.servelet.FundTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransfer</servlet-name>
    <url-pattern>/FundTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountUpdate</display-name>
    <servlet-name>AccountUpdate</servlet-name>
    <servlet-class>master.servelet.AccountUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUpdate</servlet-name>
    <url-pattern>/AccountUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accountdelete</display-name>
    <servlet-name>Accountdelete</servlet-name>
    <servlet-class>master.servelet.Accountdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accountdelete</servlet-name>
    <url-pattern>/Accountdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fd_Account</display-name>
    <servlet-name>Fd_Account</servlet-name>
    <servlet-class>master.servelet.Fd_Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fd_Account</servlet-name>
    <url-pattern>/Fd_Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rd_account</display-name>
    <servlet-name>Rd_account</servlet-name>
    <servlet-class>master.servelet.Rd_account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rd_account</servlet-name>
    <url-pattern>/Rd_account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_registration</display-name>
    <servlet-name>Customer_registration</servlet-name>
    <servlet-class>master.servelet.Customer_registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_registration</servlet-name>
    <url-pattern>/Customer_registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_Login</display-name>
    <servlet-name>Customer_Login</servlet-name>
    <servlet-class>master.servelet.Customer_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Login</servlet-name>
    <url-pattern>/Customer_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fd_Report_Dto</display-name>
    <servlet-name>Fd_Report_Dto</servlet-name>
    <servlet-class>master.dto.Fd_Report_Dto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fd_Report_Dto</servlet-name>
    <url-pattern>/Fd_Report_Dto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot_Pasword</display-name>
    <servlet-name>Forgot_Pasword</servlet-name>
    <servlet-class>master.servelet.Forgot_Pasword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot_Pasword</servlet-name>
    <url-pattern>/Forgot_Pasword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasword</display-name>
    <servlet-name>ForgotPasword</servlet-name>
    <servlet-class>master.servelet.ForgotPasword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasword</servlet-name>
    <url-pattern>/ForgotPasword</url-pattern>
  </servlet-mapping>
</web-app>